/**
  |============================
  | Global variables
  |============================
*/

:root {
    --color-8e8f99: #8e8f99;
    --color-31d0aa: #31d0aa;
    --color-4d5ae5: #4d5ae5;
    --color-2E2F42: #2e2f42;
    --color-434455: #434455;
    --color-FFFFFF: #ffffff;
    --color-f4f4fd: #f4f4fd;
    --color-404bbf: #404bbf;
    --color-e7e9fc: #e7e9fc;
    --color-FCFCFC: #fcfcfc;
    --width-72px-4: (calc((100% - 72px) / 4));
    --width-48px-3: (calc((100%- 48px) / 3));
    --vertical-indents: 24px;
    --horizontal-indents: 24px;
    --items: 1;
}

/**
  |============================
  | Global tags
  |============================
*/

html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
button {
    display: block;
    border: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

body {
    background-color: var(--color-FFFFFF);
    font-family: "Roboto", sans-serif;
    color: var(--color-434455);
}

.paragraph {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--color-434455);
}
.second-title {
    color: var(--color-2E2F42);
    text-align: center;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.third-title {
    margin-bottom: 8px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: var(--color-2E2F42);
}

.section {
    margin-bottom: 96px;
    background-color: var(--color-FFFFFF);
}
@media only screen and (min-width: 1158px) {
    .section {
        margin-bottom: 120px;
    }
}

.container {
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;

    outline: 1px solid red;
    outline-offset: -2px;
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}
@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1128px;
    }
}

.social-link {
    width: 100%;
    height: 100%;

    background-color: var(--color-4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: var(--color-404bbf);
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-svg {
    fill: var(--color-f4f4fd);
}

/**
  |============================
  | Block header
  |============================
*/

.header {
    border-bottom: 1px solid var(--color-e7e9fc);
    background: var(--color-FFFFFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0 16px;
}
@media only screen and (min-width: 768px) {
    .header-container {
        padding: 0;
    }
}

.nav {
    display: flex;
    align-items: center;
}

.logo-link {
    margin-right: 120px;
    color: var(--color-4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
}
@media only screen and (min-width: 1158px) {
    .logo-link {
        margin-right: 76px;
    }
}

.menu {
    display: none;
}
@media only screen and (min-width: 768px) {
    .menu {
        display: flex;
        gap: 40px;
    }
}

.address {
    display: none;
}
@media only screen and (min-width: 768px) {
    .address {
        display: flex;
        margin-left: auto;
    }
}
@media only screen and (min-width: 1158px) {
    .address-list {
        display: flex;
        gap: 40px;
    }
}

.address-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--color-434455);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--color-404bbf);
}

.list-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--color-2E2F42);

    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover,
.list-link:focus {
    color: var(--color-404bbf);
}

.hover-studio {
    color: var(--color-404bbf);
    position: relative;
}

.hover-studio::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;

    border-radius: 2px;
    background-color: var(--color-404bbf);
    bottom: -1px;
}

/**
  |============================
  | Block mobile menu modal
  |============================
*/

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: var(--color-FFFFFF);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 40px;

    color: var(--color-404bbf);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.mobile-menu-list-item {
}

.mobile-link {
    color: var(--color-2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.focus-link {
    color: var(--color-404bbf);
}

.mobile-address-list {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 48px;
    gap: 40px;
}
.mobile-address-list-item {
}
.mobile-tel-link {
    color: var(--color-4d5ae5);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.mobile-mail-link {
    color: var(--color-434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.social-list {
    display: flex;
    gap: 56px;
    margin-bottom: 0;
}

/**
  |============================
  | Block hero
  |============================
*/

.hero {
    background-color: var(--color-2E2F42);
    padding: 188px 0;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url("../images/jpg/hero/hero-bg_mob.jpg");
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media only screen and (min-resolution: 192dpi) {
    .hero {
        background-image: url("../images/jpg/hero/hero-bg_mob@2x.jpg");
    }
}
@media only screen and (min-width: 768px) {
    .hero {
    }
}

.hero-container {
    display: block;
}

.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-FFFFFF);
    margin: 0 auto 48px;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: auto;
    border: none;
    background-color: var(--color-4d5ae5);
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-FFFFFF);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:active {
    color: var(--color-FFFFFF);
    background-color: var(--color-404bbf);
}

/**
  |============================
  | Block description
  |============================
*/

.description-container {
    padding-left: 16px;
    padding-right: 16px;
}
@media only screen and (min-width: 768px) {
    .description-container {
        padding: 0;
    }
}
@media only screen and (min-width: 1158px) {
    .description-container {
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 0;
    }
}

.description-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
@media only screen and (min-width: 768px) {
    .description-list {
        column-gap: 24px;
        row-gap: 72px;
    }
}
@media only screen and (min-width: 1158px) {
    .description-list {
        gap: 24px;
    }
}

.description-list-item {
    width: 396px;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .description-list-item {
        width: calc((100% - 24px) / 2);
    }
}
@media only screen and (min-width: 1158px) {
    .description-list-item {
        width: calc((100% - 72px) / 4);
    }
}

.description-title {
    text-align: center;
    color: var(--color-2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
    .description-title {
        text-align: start;
    }
}
@media only screen and (min-width: 1158px) {
    .description-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }
}

.description-list-icon {
    display: none;
}
@media only screen and (min-width: 1158px) {
    .description-list-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: var(--color-f4f4fd);
        border-radius: 4px;
        margin-bottom: 8px;
    }
}

/**
  |============================
  | Block products
  |============================
*/

.products {
    display: none;
}
@media only screen and (min-width: 1158px) {
    .products {
        display: block;
    }
    .products-list {
        display: flex;
        align-items: center;

        gap: 24px;
    }
    .products-list-item {
        width: calc((100% - 48px) / 3);
    }
}

/**
  |============================
  | Block team
  |============================
*/

.team {
    padding: 0 16px;
}
@media only screen and (min-width: 1158px) {
    .team {
        padding: 0;
    }
}

.team-container {
    margin: 96px 66px;
}
@media only screen and (min-width: 768px) {
    .team-container {
        margin: 96px 92px;
    }
}
@media only screen and (min-width: 1158px) {
    .team-container {
        margin: 120px 156px;
    }
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
@media only screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }
}

.team-list-item {
    width: 264px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    border-radius: 0px 0px 4px 4px;
    background: var(--white, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
    .team-list-item {
        width: calc((100% - 24px) / 2);
    }
}
@media only screen and (min-width: 1158px) {
    .team-list-item {
        width: calc((100% - 72px) / 4);
    }
}

.team-list-item-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

/**
  |============================
  | Block customers
  |============================
*/

.customers {
    padding-top: 48px;
    padding-bottom: 48px;
}
@media only screen and (min-width: 1158px) {
    .customers {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.customers-container {
}

.customers-title {
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}
@media only screen and (min-width: 768px) {
    .customers-list {
        row-gap: 72px;
        column-gap: 24px;
    }
}
@media only screen and (min-width: 1158px) {
    .customers-list {
        row-gap: 24px;
    }
}

.customers-list-item {
    width: calc((100% - 16px) / 2);
}
@media only screen and (min-width: 768px) {
    .customers-list-item {
        width: calc((100% - 48px) / 3);
    }
}
@media only screen and (min-width: 1158px) {
    .customers-list-item {
        width: calc((100% - 120px) / 6);
        height: 88px;
    }
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-8e8f99);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-8e8f99);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--color-404bbf);
    color: var(--color-404bbf);
}

.customers-svg {
    fill: currentColor;
}

/**
  |============================
  | Block modal
  |============================
*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;

    padding: 72px 24px 24px 24px;

    background-color: var(--color-FCFCFC);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
}

.close-btn {
    background-color: var(--color-e7e9fc);

    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--color-404bbf);
    border: none;
    fill: var(--color-FFFFFF);
}

.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    text-align: center;
    margin-bottom: 16px;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--color-2E2F42);
}

.form-wrapper {
    margin-bottom: 8px;
}

.modal-form {
    display: flex;
    flex-direction: column;

    border-radius: 4px;
}

.modal-form-label {
    display: block;

    color: var(--color-8e8f99);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
}

.modal-input-wrapper {
    position: relative;
    height: 40px;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 11px;
    padding-left: 38px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 18px;
}

.modal-input:focus {
    border-color: var(--color-4d5ae5);
}

.modal-input:focus + .modal-input-svg {
    fill: var(--color-4d5ae5);
}

.modal-input-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.modal-textarea-wrapper {
    margin-bottom: 16px;
}

.modal-form-textarea {
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    padding: 8px 16px;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
    border-color: var(--color-4d5ae5);
}

/*------------ Checkbox -------------*/

.modal-checkbox-wrapper {
    margin-bottom: 24px;
}

.modal-policy-label {
    color: var(--color-8e8f99);

    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;

    cursor: pointer;
}

.policy-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: var(--color-4d5ae5);
    fill: transparent;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-policy-label .policy-span {
    background-color: var(--color-404bbf);
    border: none;
    fill: var(--color-f4f4fd);
}

.modal-policy-link {
    color: var(--color-4d5ae5);
}

.modal-btn-send {
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;

    border-radius: 4px;
    background: var(--color-4d5ae5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: var(--color-FFFFFF);
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Block footer
  |============================
*/

.footer {
    padding-top: 96px;
    padding-bottom: 96px;

    background-color: var(--color-2E2F42);
}
@media only screen and (min-width: 768px) {
    .footer {
        padding: 100px 0;
    }
}
@media only screen and (min-width: 1158px) {
    .footer {
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
    .footer-container {
    }
}
@media only screen and (min-width: 1158px) {
    .footer-container {
        flex-wrap: nowrap;
        padding-left: 0;
        padding-right: 0;
        gap: 0;
    }
}

.footer-left {
    width: 264px;
    display: block;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
    .footer-left {
        margin-left: 0;
        margin-right: 24px;
    }
}
@media only screen and (min-width: 1158px) {
    .footer-left {
        margin-left: 0;
        margin-right: 120px;
    }
}

.footer-social {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}
@media only screen and (min-width: 768px) {
    .footer-social {
        margin-left: 0;
        margin-right: 164px;

        text-align: start;
    }
}
@media only screen and (min-width: 1158px) {
    .footer-social {
        margin-right: 0;
    }
}

.footer-social-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--color-FFFFFF);
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.subscribe-wrapper {
    width: 453px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}
@media only screen and (min-width: 768px) {
    .subscribe-wrapper {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;

        text-align: start;
    }
}
@media only screen and (min-width: 1158px) {
    .subscribe-wrapper {
        margin-left: auto;
        margin-top: 0;
    }
}

.subscribe-paragraph {
    color: var(--color-FFFFFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;

    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
@media only screen and (min-width: 768px) {
    .subscribe-form {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

.subscribe-input {
    width: 398px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 16px;

    border-radius: 4px;
    border: 1px solid var(--color-FFFFFF);
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;

    color: var(--color-FFFFFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;

    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    border: 1px solid var(--color-FFFFFF);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-FFFFFF); */
}
@media only screen and (min-width: 768px) {
    .subscribe-input {
        width: 264px;
    }
}

.footer-link {
    display: inline-flex;
    margin: 0 76px;

    color: var(--color-4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
    .footer-link {
        margin: 0;
    }
}

.paragraph-footer {
    color: var(--color-f4f4fd);

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    color: var(--color-f4f4fd);
}

.footer-social-svg {
    fill: var(--color-f4f4fd);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--color-31d0aa);
}

/**
  |============================
  | Others
  |============================
*/

.logo-studio {
    color: var(--color-2E2F42);
}

.subscribe-label {
}

.subscribe-label-input {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

#mail::placeholder {
    color: var(--color-FFFFFF);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: 0.48px;
}

.button {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border: none;
    border-radius: 4px;
    background: var(--color-4d5ae5);

    color: var(--color-FFFFFF);
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;

    cursor: pointer;
}

.subscribe-button-svg {
    fill: var(--color-FFFFFF);
}

/**
  |============================
  | Page portfolio
  |============================
*/

.portfolio-list-buttons {
    width: 263px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
    margin-bottom: 48px;

    /* justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    display: flex;
    align-items: flex-start; */
}
@media only screen and (min-width: 768px) {
    .portfolio-list-buttons {
        width: 586px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 64px;
    }
}
@media only screen and (min-width: 1158px) {
    .portfolio-list-buttons {
        margin-bottom: 72px;
    }
}

.main-section-button {
    border-radius: 4px;
    border: 1px solid var(--color-e7e9fc);
    background: var(--color-f4f4fd);

    color: var(--color-4d5ae5);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section-button:active {
    padding: 8px 16px;
    border-radius: 4px;
    background: var(--color-4d5ae5);
}

.main-section-button:hover,
.main-section-button:focus {
    border: 1px solid transparent;
    background-color: var(--color-404bbf);
    color: var(--color-FFFFFF);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
@media only screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
}

.portfolio-list-element {
    width: 396px;
}
@media only screen and (min-width: 768px) {
    .portfolio-list-element {
        width: calc((100% - 24px) / 2);
    }
}
@media only screen and (min-width: 1158px) {
    .portfolio-list-element {
        width: calc((100% - 72px) / 3);
    }
}

.hover-portfolio:hover,
.hover-portfolio:focus {
    color: var(--color-404bbf);
}

.hover-portfolio {
    position: relative;
    color: var(--color-404bbf);
}

.hover-portfolio::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;

    border-radius: 2px;
    background-color: var(--color-404bbf);
    bottom: -1px;
}

.center {
    text-align: center;
}

.background {
    background-color: var(--color-f4f4fd);
}

.team-list-item-name {
    padding: 32px 0;
}

.paragraph-center {
    text-align: center;
    margin-bottom: 8px;
}

.main-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link:hover .overlay-paragraf,
.portfolio-list-link:focus .overlay-paragraf {
    transform: translateY(0%);
}
.portfolio-description-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--color-2E2F42);
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.names-apps {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-self: stretch;
}

.portfolio-second-title {
    color: var(--color-2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

/**
  |============================
  | Overlay
  |============================
*/

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    background-color: var(--color-4d5ae5);
    text-align: center;
    padding: 40px 32px 164px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
}

.overlay:hover .overlay-text {
    transform: translate(0);
}

.overlay-paragraf {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--color-f4f4fd);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: var(--color-4d5ae5);
}
